*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(img/fondo2.webp);
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 90%;
    margin: 0px auto;
}
header {
    background: #fe73c9;
    height: 200px;
    width: 100%;
    text-align: center;
    align-content: center;
    line-height: 200px;
    color: beige;
    font-size: 50px;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}

#Contenido h1{
    margin-top: 10px;
}
nav{
    background: #f70476;
    height: 50px;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
nav ul li:hover{
    background-color: #03e6b1;
}
.buscador{
    text-align: right;
    color: white;
    margin-right: 20px;
}
.buscador input{
    border-radius: 10px;
}
.clear{
    clear: both;
}
#contenido{
    float: left;
    width: calculo (80% - 80px);
    min-height: 500px;
    background: #ffffff;
    padding: 40px;
}
.article{
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
footer{
    background: #ed077a;
    color: hsl(0, 0%, 100%);
    text-align: center;
    height: 50px;
    line-height: 50px;
}
img{
    width: 300px;
}
.imgs{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 20px;
}
.video{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
table{
    background: #f610a2;
    border-width: 8px;
    margin-bottom: 9px;
    border-color: #eb0f8f;
}
col.fondo{
    background-color: #f7f2f2;
}
html{
    font-family: sans-serif;
}
.lineatemp{
    position: relative;
    width: 600px;
    margin: 0 auto;
    border: 8px solid rgb(235, 22, 107);
}
.fila{
    display: flex;
    justify-content: start;
    border-bottom: 8px solid rgb(239, 18, 129);
    position: relative;
}
.fila .disco{
    width: 36px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.fila .disco:after{
    content:'';
    position: absolute;
    top: 0;
    left: calc(505 - 2px);
    height: 100%;
    width: 3px;
    background: #80DEEA;
    z-index: -1;
}
.fila:first-child .disco:after{
    height: 50%;
    top: 50%;
}
.fila:last-child .disco:after{
    height: 50%;
 }
.fila .disco > div{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: lightblue;
    box-sizing: border-box;
}
.fila:hover .disco > div{
    border: 3px solid red;
    background: white;
}
.fila div:nth-of-type(2){
    width: 20%;
    padding: 4px;
    display: flex;
    align-items:center;
}
.fila div:nth-of-type(3){
    width: 60%;
    padding: 4px;
 }


